/* layout */

/* Navbar Container */

.navbar-container {
  position: fixed;
  width: 100%;
  max-width: 100%;
  padding: 10px 8%;
  margin: 0px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  background-color: aliceblue;
  box-sizing: border-box;
}

/* Nav List Container Styles */

.nav-logo {
  cursor: pointer;
}

ul.nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

li.nav-list-item {
}

/* NavList Inner Element Styles */

li.nav-list-item a {
  cursor: pointer;
}

li.nav-list-item a:hover {
}

li.nav-list-item i {
}
