/* layout */

/* Navbar Container */

.navbar-placeholder {
  /* height: 20px; */
  /* position: relative; */
  /* z-index: 0; */
  width: 100%;
}

.navbar-container {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 100%;
  padding: 10px 8%;
  margin: 0px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  background-color: aliceblue;
  box-sizing: border-box;
  border-bottom: 1px solid gray;
}

.nav-right {
  display: flex;
  gap: 20px;
}

/* Nav List Container Styles */

.nav-logo {
  cursor: pointer;
}

.search-form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ul.nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

li.nav-list-item {
}

/* Nav Menu Element Styles */

.search-form-wrapper input {
  padding: 7px 10px;
  border: 1px solid black;
  border-radius: 9px;
}

li.nav-list-item a {
  cursor: pointer;
}

li.nav-list-item a:hover {
}

li.nav-list-item i {
}
