.clothing-feat-container {
  padding: 5% 5%;
}

.clothing-feat-container .clothing-feat-header {
  text-align: center;
  padding-bottom: 3%;
}

.clothing-feat-carousel {
  margin-bottom: 7%;
  height: 300px;
  display: flex;
  justify-content: center;
}

.clothing-feat-btn {
  display: flex;
  justify-content: center;
}
