footer.footer-container {
  min-height: 50vh;
  padding: 2.5% 7.5%;
  background-color: aliceblue;
  display: flex;
  justify-content: flex-start;
}

.footer-list {
  margin-right: 50px;
}

.footer-list-item {
  margin-bottom: 20px;
}

.footer-list-item.title {
}
