.options-selector-wrapper,
.option-selector-container,
.option-selector-container * {
  box-sizing: border-box;
  max-width: 100%;
}

.option-selector-container {
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three equal columns */
  gap: 10px; /* Space between buttons */
  padding: 0; /* Ensure no padding adds to width */
}

.option-selector-container div.color-selector-wrapper {
  grid-column: 1 / 4;
  min-height: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.option-selector-container div.color-selector {
  height: 30px;
  width: 10%;
}

@media (max-width: 1400px) {
  .option-selector-container div.color-selector {
    width: 5%;
  }
}
