.fade-in-up {
  animation: fadeInUp 1s ease-in-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-container {
  min-height: 500px;
  background-color: #ededed;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 5%;
  padding-bottom: 15%;
  display: grid;
  grid-template-columns: 50% 50%;
}

@media (max-width: 1400px) {
  div.hero-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 25%;
  }

  div.her-right {
    overflow-y: hidden;
  }

  div.hero-left-button {
    width: 100%;
  }
}
.hero-left-button {
  margin-bottom: 60px;
}

/* fonts */
.hero-left > p {
  margin: 20px 0px;
}
